<h1>Listing produks</h1>

<table>
  <tr>
    <th>Nama</th>
    <th>Alamat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @produks.each do |produk| %>
  <tr>
    <td><%= produk.nama %></td>
    <td><%= produk.alamat %></td>
    <td><%= link_to 'Show', produk %></td>
    <td><%= link_to 'Edit', edit_produk_path(produk) %></td>
    <td><%= link_to 'Destroy', produk, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Produk', new_produk_path %>
