
<div class="contentbox">
  <%=raw @page[:body] %>
  <%= form_for @inquiry do |f| %>
    <%= render :partial => "/shared/admin/error_messages",
               :locals => {
               :object => @inquiry,
               :include_object_name => true
               } %>
    <table>
	  <tr>
	    <td><%= f.required_label :Nama %></td>
        <td><%= f.text_field :name %></td>
	  </tr>
      <tr>
	    <td><%= f.required_label :Email %></td>
        <td><%= f.text_field :email %></td>
	  </tr>
      <tr>
	    <td><%= f.label :phone %></td>
        <td><%= f.text_field :phone %></td>
      </tr>
        <td><%= f.required_label :Pesan  %></td>
        <td><%= f.text_area :message, :rows => 8 %></td>
      </tr>
      <tr>
	    <td></td>
	    <td><%= f.submit t('.send') %></td>
	  </tr>
	</table>	
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if RefinerySetting.find_or_set(:show_contact_privacy_link, false) %>
  <% end %>
</div>
<div class="sidebar"><%=raw @page[:side_body] %></div>
